<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Security Demo Home Page</title>
</head>
<body>

<h2> Welcome to the Security Home Page</h2>


<p>
    USer: <span sec:authentication="principal.username"></span>
</p>


<p>
    Role: <span sec:authentication="principal.authorities"></span>
</p>
<hr>

<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
    </p>
</div>


<div sec:authorize="hasRole('ADMIN')">
<p>
    <a th:href="@{/systems}">Systems Meeting</a>
</p>
</div>

<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
</body>
</html>